
body {
  background-image: linear-gradient(to right, rgb(39, 95, 236), rgb(190, 227, 238));
  padding: 0;
  margin: auto;
  font-size: 30px;
  text-align: center;
  background-origin: padding-box;
  padding: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight:bold;
  color: aliceblue;
  
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.button {
  background-color:rgb(77, 169, 205);
  border:2px;
  text-align:center;
  border-style:inset;
  margin:auto;
  padding: 7px;
  border-spacing:10px;
  border-radius: 8px;
  color:aliceblue;
}
.input{
  background-color:rgb(172, 211, 234);
  border-style:ridge;
  border-radius:8px;
  text-align: center;
  margin: auto;
  width: 70%;
}

section {
  text-align: center;
  background-color:#3594f2;
  width:250px;border:5px;
  border-radius: 14px;
  border-bottom:groove;
  border-right:groove;
  border-bottom-width:5px;
  border-bottom-color:#73afea;
  border-right-color:#75b8fb;
  border-right-width:4px;
  float:center;
  margin:auto;
}
.devider {
  font-weight:bolder;
}
.butt {
  background-color:rgb(77, 169, 205);
  border:2px;
  text-align:center;
  border-style:outset;
  margin:auto;
  padding: 7px;
  border-spacing:10px;
  border-radius: 8px;
  color:aliceblue;
  border-left: 20px
}

.homep {
  text-align: right;
}

.homer{
  background-color:rgb(77, 169, 205);
  border:2px;
  text-align:center;
  border-style:outset;
  margin:auto;
  padding: 7px;
  border-spacing:10px;
  border-radius: 8px;
  color:aliceblue;
  border-left: 20px;
}

.logo {
  text-align: left;
  width: 120px;
  height:120px;
}

.logoh {
  text-align: left;
}